@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager

    
<flash dismissable="true" />

<h2 class="text-lg-end">Witaj @ViewBag.User.FirstName</h2>
<h4 class="mt-3">Twoje ogłoszenia</h4>

<table class="table table-bordered mt-3">
    <thead>
    <tr>
      <th scope="col">Tytuł</th>
      <th scope="col">Data Dodania</th>
      <th scope="col">Wyświetlenia</th>
      <th scope="col">Premium</th>
      <th scope="col">Akcje</th>
    </tr>
  </thead>
  <tbody>
@foreach(var adv in ViewBag.Adverts)
{
    <tr>
      <th scope="row">
          <a href="/advert/@adv.slug">@adv.Title  @adv.Id</a> <br/>
      </th>
      <td>@adv.Created_at</td>
      <td>@adv.ViewsCount</td>
      <td>
          @if(@adv.isPremium == false)
             {
                
                    <button type="button" class="btn btn-success" data-toggle="ajax-modal" data-target="#addPremium"
                        data-url="@Url.Action($"Advert/Premium/{@adv.Id}")">Ulepsz</button>
             }
          else
             {
                        <button type="button" disabled class="btn btn-success">Ulepsz</button>
             }
      </td>
      <td>

           <a type="submit" class="btn btn-info" asp-route-Id="@adv.Id" asp-controller="Advert" asp-action="EditAdvert">Edytuj</a>

        <button type="button" class="btn-danger btn" data-toggle="ajax-modal" data-target="#addEmployee"
            data-url="@Url.Action($"Advert/ModalAdvert/{@adv.Id}")">Usuń</button>
                
        <div id="PlaceHolderHere"> </div>
         

      </td>
    </tr>

      
}
</tbody>
</table>


