@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager

    
<flash dismissable="true" />

<h2 class="text-lg-end">Witaj @ViewBag.User.FirstName</h2>
<h4 class="mt-3">Twoje ogłoszenia</h4>

<table class="table table-bordered mt-3">
    <thead>
    <tr>
      <th scope="col">Tytuł</th>
      <th scope="col">Data Dodania</th>
      <th scope="col">Wyświetlenia</th>
      <th scope="col">Premium</th>
      <th scope="col">Akcje</th>
    </tr>
  </thead>
  <tbody>
@foreach(var adv in ViewBag.Adverts)
{
    <tr>
      <th scope="row">
          <a href="/advert/@adv.slug">@adv.Title</a> <br/>
      </th>
      <td>@adv.Created_at</td>
      <td>@adv.ViewsCount</td>
      <td>
          @if(@adv.isPremium == false)
             {
                        <button type="button" class="btn btn-success">Ulepsz</button>
             }
          else
             {
                        <button type="button" disabled class="btn btn-success">Ulepsz</button>
             }
      </td>
      <td>
          
              <input type="submit" class="btn btn-info" value="Edytuj"/>


            <div>
                <input type="submit" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" value="Usuń"/>
            

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ostrzeżenie</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Czy na pewno chcesz usunąć te ogłoszenie?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                        <button type="button" class="btn btn-danger"  onclick="DeleteAdvert(@adv.Id)" >Usuń</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
         
      </td>
    </tr>

   
}
</tbody>
</table>