@model PortalOgloszeniowy.Models.ViewModels.SearchViewModel


<flash dismissable="true" />

<form method="post" >
<div class="input-group mb-3 ">

<input asp-for="SearchPhrase" class="form-control " />
<span asp-validation-for="SearchPhrase" class="text-danger"></span>
<div class="input-group-append">
<button class="btn btn-outline-secondary btn-lg" type="submit">Szukaj</button>
</div>

</div>
</form>

<h1 class="display-3 text-center">Kategorie</h1>

<div class="container mt-5 text-center">
    <div class="row">
        <div class="col category">
            <a href="/motoryzacja"><i  style="display:block" class="fa-solid fa-car fa-8x"></i><p class="mt-3 h4">Motoryzacja</p></a>
        </div>
        <div class="col category">
            <a href="/nieruchomości"><i style="display:block" class="fa-solid fa-house-chimney fa-8x"></i><p class="mt-3 h4">Nieruchomości</p></a>
        </div>
        <div class="col category">
           <a href="/elektronika">  <i style="display:block" class="fa-solid fa-laptop fa-8x"></i><p class="mt-3 h4">Elektronika</p></a>
        </div>
        <div class="col category">
           <a href="/moda" > <i style="display:block" class="fa-solid fa-shirt fa-8x"></i><p class="mt-3 h4">Moda</p></a>
        </div>
    </div>
</div>

<h1 class="display-4 text-center" style="margin-top:15%">Ogłoszenia sponsorowane</h1>


<div class="container mt-3 text-center">

        <div class="card-group row">
@foreach(var adv in ViewBag.PremiumAdverts)
{
  
    <div class="card m-3">
    <a style="text-decoration:none; color:black;" target="_blank" href="advert/@adv.slug">
    @if(adv.ImageUrl is null)
    {
           <img href="advert/@adv.slug" class="card-img-top" width="351" height="160" src="images/default-img.png" alt="">              
    }
    else
    {
        <img href="advert/@adv.slug" class="card-img-top" width="351" height="160" src="@adv.ImageUrl" alt="Card image cap">
    }
    <div class="card-body">
      <h5 class="card-title">@adv.Title</h5>
        <p class="card-text">
            @adv.Price zł <br/>
            @adv.Location 
        </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">@adv.Created_at</small>
    </div>
       </a>

  </div>
 

}
        </div>
    </div>
